<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legacy Lines</title>
  </head>
  <body>
    <section>
      <% authorsArray.forEach(author => { %>
      <a href="/<%= author.id %>/quotes"> <%= author.name %> </a>
      <br />
      <% }) %>
    </section>
    <section>
      <% quotesArray.forEach(quote => { %> <%= quote.quote %> <br />
      <% }) %>
    </section>
  </body>
</html>
